{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div>
  	<div class="cardholder">
  		<div class="card">
  			<div class="pic" id="pic1">
  			</div>
  			<div class="message" id="msg1">
  			</div>

  			<div class="footer">
  				<div class="site">
  				gizmodo.com
  				</div>
  				<div class="date">
  				Oct 3
  				</div>
  			</div>
  		</div>

  		<div class="card">
        <div class="pic" id="pic2">
  			</div>
  			<div class="message" id="msg2">
  			</div>
  		</div>

  		<div class="card">
        <div class="pic" id="pic3">
  			</div>
  			<div class="message" id="msg3">
  			</div>
  		</div>

  		<div class="card">
        <div class="pic" id="pic4">
  			</div>
  			<div class="message" id="msg4">
  			</div>
  		</div>
  	</div>

  	<div class="blackbar">
  		<div class="butt" onclick="listen()">
  		</div>
  	</div>

  	<div class="owllisten">
  	bonjour
  	</div>

  <script type="text/javascript">
  // JQuery stuff
  $(document).ready(function(){

      $(".card").click(function(){
          $(".card").stop(true, false).animate({ left: "-=375px", } );
      });

      $(".butt").click(function(){
          $(".owllisten").toggleClass("popup");
      });



  });

  // set up global vars
  var recognition, voiceMessage;

  // set up speech recognition
  if (!('webkitSpeechRecognition' in window)) {
    console.log('NO SUPPORT FOR SPEECH!');
  } else {
    recognition = new webkitSpeechRecognition();
    recognition.continuous = true;
    recognition.interimResults = false;

    recognition.onstart = function() {
      console.log('started recognition');
    }
    recognition.onresult = function(event) {
      console.log('speech has been captured');
      console.log(event);
      var final_transcript = '';

      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          final_transcript += event.results[i][0].transcript;
        }
      }
      console.log(final_transcript);
      recognition.stop();
      if (final_transcript === 'content') {
        speak('OK. I will look for some content for you, master');
        $.getJSON( "articles/", function( data ) {
          if (data.result.articles) {
            console.log(data);
            $("#msg1").text(data.result.articles[0].title);
            $("#msg2").text(data.result.articles[1].title);
            $("#msg3").text(data.result.articles[2].title);
            $("#msg4").text(data.result.articles[3].title);
            $("#pic1").html("<img height='100%' width='100%' src='" + data.result.articles[0].image + "'>")
            $("#pic2").html("<img height='100%' width='100%' src='" + data.result.articles[1].image + "'>")
            $("#pic3").html("<img height='100%' width='100%' src='" + data.result.articles[2].image + "'>")
            $("#pic4").html("<img height='100%' width='100%' src='" + data.result.articles[3].image + "'>")
            speak('Here you go, master');
          } else {
            console.log('error. retrying!');
            $.getJSON( "articles/", function( data ) {
              if (data.result.articles) {
                console.log(data);
                $("#msg1").text(data.result.articles[0].title);
                $("#msg2").text(data.result.articles[1].title);
                $("#msg3").text(data.result.articles[2].title);
                $("#msg4").text(data.result.articles[3].title);
                $("#pic1").html("<img height='100%' width='100%' src='" + data.result.articles[0].image + "'>")
                $("#pic2").html("<img height='100%' width='100%' src='" + data.result.articles[1].image + "'>")
                $("#pic3").html("<img height='100%' width='100%' src='" + data.result.articles[2].image + "'>")
                $("#pic4").html("<img height='100%' width='100%' src='" + data.result.articles[3].image + "'>")
                speak('Here you go, master');
              } else {
                console.log('error. retrying again!');
                $.getJSON( "articles/", function( data ) {
                  if (data.result.articles) {
                    console.log(data);
                    $("#msg1").text(data.result.articles[0].title);
                    $("#msg2").text(data.result.articles[1].title);
                    $("#msg3").text(data.result.articles[2].title);
                    $("#msg4").text(data.result.articles[3].title);
                    $("#pic1").html("<img height='100%' width='100%' src='" + data.result.articles[0].image + "'>")
                    $("#pic2").html("<img height='100%' width='100%' src='" + data.result.articles[1].image + "'>")
                    $("#pic3").html("<img height='100%' width='100%' src='" + data.result.articles[2].image + "'>")
                    $("#pic4").html("<img height='100%' width='100%' src='" + data.result.articles[3].image + "'>")
                    speak('Here you go, master');
                  } else {
                    console.log('no data. possibly an error!');
                    console.log(data);
                    speak('I am afraid something went wrong, master. Please try again');
                  }
                });
              }
            });
          }
        });
      } else {
        speak('Sorry master. I do not understand what you are saying');
      }
    }
    recognition.onerror = function(event) {
      console.log('error during speech recognition!');
    }
    recognition.onend = function() {
      console.log('finished speech recognition');
    }
  }

  // set up speech speechSynthesis
  if (!('SpeechSynthesisUtterance' in window)) {
    console.log('NO SUPPORT FOR SPEECH SYNTH!');
  } else {
    voiceMessage = new SpeechSynthesisUtterance();
  }

  // listen and speak functions
  var listen = function () {
    if (recognition) {
      recognition.start();
    }
  }
  var speak = function (msg) {
    if (voiceMessage) {
      voiceMessage.text = msg
      window.speechSynthesis.speak(voiceMessage);
    }
  }

  speak('hello master. what can i do for you?');

  </script>
</div>
{% endblock %}
