{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div>
  Talk to me baby!!
  <script type="text/javascript">
    if (!('webkitSpeechRecognition' in window)) {
      console.log('NO SUPPORT FOR SPEECH!');
    } else {
      var recognition = new webkitSpeechRecognition();
      recognition.continuous = true;
      recognition.interimResults = true;

      recognition.onstart = function() {
        console.log('started recognition');
      }
      recognition.onresult = function(event) {
        console.log('speech has been captured');
        var final_transcript = '';

        for (var i = event.resultIndex; i < event.results.length; ++i) {
          if (event.results[i].isFinal) {
            final_transcript += event.results[i][0].transcript;
          }
        }
        console.log(final_transcript);
      }
      recognition.onerror = function(event) {
        console.log('error during speech recognition!');
      }
      recognition.onend = function() {
        console.log('finished speech recognition');
      }
      recognition.start();
    }
  </script>
</div>
{% endblock %}
